@charset "UTF-8";

body {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

section {
    color: antiquewhite;
    background-color: crimson;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.364);
}

footer {
    text-align: center;
}