@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header > h1 {
    text-align: center;
}

section {
    background-color: brown;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

footer {
    text-align: center;
}